/* 
Para hacer:
- colores primarios en variable
- Familias tipograficas en variable 
*/

/* VARIABLES */

:root {
    --familia-titulo: 'Alfa Slab One', cursive;
    --familia-texto: 'Roboto', sans-serif;

    --fondo: #ddf6ff;
    --primario: #1b273f;
    --acento: #f33914;
  }



/* ESTILOS DE BASE */
 
html {
    height: 100%;
}

body {
    background-color: var(--fondo);
    height: 100%;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4  {
    font-family: var(--familia-titulo);
    color: var(--primario);
    letter-spacing: 0.1rem;
}

p {
    font-family: var(--familia-texto);
    color: var(--primario);
}

.botonPrimario {
    background-color: var(--acento);
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-family: var(--familia-texto);
    margin-top: 20px;
    transition: all 0.2s ease;
}

    .botonPrimario:hover {
        background-color: var(--primario);
    }


.textLinkPrimario {
    color: var(--primario);
    
}

.textLinkPrimario:hover {
    color: var(--acento);
}

.txt-S {
    font-size: 80%;
}

section {
    padding: 40px;
}

.seccionCentrada {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FORMULARIOS */

label {
    font-family: var(--familia-texto);
    font-size: 0.8rem;
    color: var(--primario);
}

label span {
    color: var(--acento);
}


.formColumn2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.formulario .botonPrimario {
    width: 100%;
}
.inputPrimario {
    padding: 10px 20px;
    border-radius: 4px;
}
    .inputPrimario:focus {
        outline: 2px solid var(--acento);
    }

    .formulario .inputPrimario {
        width: calc(100% - 2rem);
        padding: 10px 1rem;
    }

.formulario select {
    width: 100% !important;
}


/* HEADER */
header {
    background-color: var(--acento);
    display: flex;
    padding: 20px 40px;
    align-items: center;
    gap: 20px;
    height: 100px;
}

header img {
    width: 60px;
    height: 60px;
}

header h1{
    color: white;
    margin: 0;
}

.menu {
    margin-left: auto;
    margin-right: 0;
}

.menu a{ 
    font-family: var(--familia-texto);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    color: white;
    margin-left: 20px;
}

.menu a:hover {
    text-decoration: underline;
}

@media (max-width:1300px) {
    header h1{
        font-size: 1rem;
    }

    .menu a {
        font-size: 0.6rem;
    }
    
}

@media (max-width:1000px) {
    header {
        flex-direction: column;
        height: auto;
    }

    .menu {
        margin-left: auto;
    margin-right: auto;
    }

    .menu :nth-child(1){
        margin-left: 0;
    }
}


/* HOME BIENVENIDA */

.fullscreen {    
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.mitadIzq {
    
    width: 50%;
    background-color: var(--primario);
    background-image: url(assets/fondo-01.jpg);
    background-size: cover;
    background-position: center center;


}

.mitadDer {
width: 50%;
padding: 2.5rem;
display: flex;
flex-direction: column;
}


.homeLogo {
    margin-bottom: auto;
    margin-top: 0;
    text-align: right;
}

    .homeLogo img {
        width: 100px;
        height: auto;
    }
.homeLink {
    margin-bottom: 0;
    margin-top: auto;
}


/* SECCION BOTONES DE EJEMPLO */
.seccionEjemplos {
    padding-top: 10px;
    padding-bottom: 10px;
}

.botonSutil {
    background-color: var(--fondo);
    border: none;
    cursor: pointer;
}

.botonSutil:hover {
    color: var(--acento);
}


/* PAGINA BUSCAR */

.seccionFullMenu {
    min-height: calc(100vh - 140px);
    width: 100vw;
    display: flex;
    padding: 0;
    
}

.buscarZonaIzq {
    width: 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buscarZonaDer {
    width: 50%;
    background-color: var(--primario);
    
}

.zonaDerCaja {padding: 20px; }
.buscarZonaDer p {
    color: white;
    line-height: 1.4;
}

.pequeno {
    font-size: 0.7rem;
    opacity: 0.7;
}

.botonPagar {
    background-color: var(--acento);
    border: none;
    color: white;
    margin-left: 10px;
    padding: 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
    cursor: pointer;
}

.botonPagar:hover {
    background-color: black;
    box-shadow: none;
}

@media (max-width: 800px) {
    .seccionFullMenu{
        flex-direction: column;
        min-width: 100vw;
    }

    .buscarZonaIzq, .buscarZonaDer {
        width: 100%;
        padding: 60px 20px;
    }
    
}

/* PAGINAS DE ERROR Y BIENVENIDA */

.paginaRechazado {
    background-color: #e74c3c;
    padding: 3rem;
    
}

.paginaAceptado {
    background-color: #27ae60;
    padding: 3rem;
    
}

.paginaRechazado h1, .paginaRechazado p,
.paginaAceptado h1, .paginaAceptado p {
    color: white;
}

